PORT=5001
NODE_ENV=development
DATABASE_URL=postgres://localhost:5432/collectly
JWT_SECRET=super-secret-key-123
JWT_EXPIRES_IN=90d
FRONTEND_URL=http://localhost:3000
CLERK_PUBLISHABLE_KEY=pk_test_dGVuZGVyLWNyYWItNDEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_BjpbDR5skKVQoEPQYb6s7M5PLYxQkHzShZKl0oAZg9

# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# SMTP Configuration (for Nodemailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
